.simona_table, .simona_hot {
  margin: 0.2em 0 0 230px !important;
  /* margin-top: 0.2em; */
}

.simona_table_row {
  /* margin-top: 10px; */
}

/* override perch table responsive styles */
@media (max-width: 767px) {
  .simona_hot table thead {
    display: block;
  }
  .simona_hot table tr {
    display: table-row;
  }
  .simona_hot table td {
    display: table-cell;
  }
  .simona_hot table td:before {
    content: '';
  }
}
