.simona_table, .simona_hot {
  /* margin: 10px 0 0 230px !important; */
  margin-top: 0.2em;
}

.simona_table_row {
  /* margin-top: 10px; */
}

/* override perch table responsive styles */
@media (max-width: 767px) {
  .simona_hot table thead {
    display: block;
  }
  .simona_hot table tr {
    border-bottom: 3px solid #cccccc;
    display: table-row;
  }
  .simona_hot table td {
    border-bottom: 1px solid #cccccc;
    display: table-cell;
    text-align: auto;
  }
  .simona_hot table td:before {
    content: '';
  }
}
